<% provide(:about, 'active') %>
<legend>About Us</legend>
<p>
	La empresa VIBRA FITNESS Acondicionamiento físico, es una entidad creada con mucho acierto en medellin, para ofrecerles a sus clientes un servicio profesional en acondicionamiento físico.
</p>
<p>
	Los ejercicios se pueden realizar por un término de 30 minutos, con la ventaja de que estas maquinas aceleran los músculos en una forma extraordinaria y es como si se hiciera dos horas con otros dispositivos.
</p>
<p>
	Los directivos de la empresa han traído a colombia esta tecnología desarrollados en EEUU por la nasa, para adiestrar a los astronautas y a pesar de que este sistema se viene empleado desde hace unos 40 años ya llegan a nuestro país con una gran acogida.
</p>
<p>
	Es tan importante esta labor, que los deportistas de más alto rendimiento a nivel mundial a vienen utilizando estos equipos.

	La empresa cuenta con un grupo de profesionales de la salud y de la actividad física quienes asesoran en una forma profesional a las personas que acuden a este centro.
</p>
<p>
	Tienen su sede principal en el mall drive inn campestre calle 16 A Sur # 32b 38 local 103 el poblado y están inaugurando una nueva sede en el moll inter plaza
</p>