<table class="table table-striped table-condensed table-bordered" id="schedule_table_hours">
  <thead>
    <tr>
      <th>Empieza</th>
      <th>Termina</th>
      <th style="width:5%;"></th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr data-ordertime="<%= schedule.start_time.to_s.gsub!(/:/,"")%>">
        <td><%= schedule.start_time %></td>
        <td><%= schedule.end_time %></td>
        <td>
         <%= link_to "Eliminar", seat_schedule_path(@seat,schedule), :class => 'btn btn-mini btn-danger deleteSchedule' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>