<% provide(:settings, 'active') %>
<% provide(:conf_agenda, 'active') %>
<%- model_class = @schedule.class -%>
<h2>Configuración  Agenda - <em><%=@dateSchedule%></em> </h2>

<div class="tabbable tabs-below" style="margin-top:5px"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Configuración rápida</a></li>
    <li><a href="#tab2" data-toggle="tab">Configuración detallada</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
    	<div class="formExplenations">
    		<h6>Configuración rápida</h6>
    		<p>Esta configuración le permite generar todos los turnos simplemente ingresando <em>Hora de Inicio</em>, <em>Hora de Finalización</em>, <em>Duración de las sesiones</em> y <em>Descanso entre sesiones</em></p>
    	
    		<div class="notaExplenations">
    			<p><span class="label label-important">Importante</span> » Al generar, se borrarán los turnos qua hayan sido creados para este dia.</p>
    		</div>
    	</div>

    	<%= render :partial => 'form_fast' %>    			
    </div>
    <div class="tab-pane" id="tab2">
    	<div class="formExplenations">
    		<h6>Configuración detallada</h6>
    		<p>Esta configuración le permite generar los turnos uno por uno simplemente ingresando <em>Hora de Inicio</em> y <em>Hora de Finalización</em> del turno deseado</p>
    	</div>
    	<%= render :partial => 'form' %>
    </div>
  </div>
</div>

<div class="page-header">
	<h3>Horario Actual</h3>
</div>

<div id="actual_schedule">
	<%= render :partial => 'schedule_list' %>  
</div>
