<% provide(:client, 'active') %>
<%- model_class = Client.new.class -%>
<legend>Clientes</legend>

<%= form_tag clients_path, :method => 'get', :id => "clients_search" do %>
  <div style="margin-left:5px; margin-bottom:15px;">
		  <div class="input-prepend">
		    <span class="add-on" style="margin-right: -5px;"><i class="icon-search"></i></span>
		    <%= text_field_tag :search, params[:search], :class => 'span2', :placeholder => 'Buscar...' %>
		  </div>
  </div>
  <div id="clients"> <%= render :partial => 'clients' %> </div>
<% end %>



