
.search_clients_schedule{

  padding-left: 20px;
  height:150px;
  margin-bottom: 80px;

}

.search_clients_schedule .pagination{

  float:right;
  margin: 0;

}
#clients_schedule{
  border-radius:4px;
  padding:  0px !important;
  margin-top: 30px;
}

#clients_schedule td.client_drag_handle{
  cursor: pointer !important;
}



#calendar table {
  border-collapse: collapse;
  width: 100%;
}

#calendar td,
#calendar th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}

#calendar .notmonth {
  color: #CCC;
}

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#calendar .today {
  background-color: #D7F2FF;
}

#calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}

/*BOOKING STATUS*/

.inside_turn{
  padding: 5px;
}

.inside_turn .close{
  margin-top: -6px;
}

.expired{
  background-color: rgba(255, 55, 55, 0.6);
}

.different-time{
  background-color: rgba(255, 255, 102, 0.6);
}

.ui-state-hover-schedule{
  border: 1px solid #2C4359;
  background: rgba(53, 65, 79, 0.2) url(../images/?new=35414f&w=2&h=2&f=png&q=100&fltr[]=over|textures/09_dots_small.png|0|0|35) 50% 50% repeat !important;
  color: #E1E463;
  font-weight: bold;
}


.ui-state-active-schedule{
  border: 1px solid #2C4359;
  background: rgba(108, 74, 79, 0.8)url(../images/?new=35414f&w=2&h=2&f=png&q=100&fltr[]=over|textures/09_dots_small.png|0|0|35) 50% 50% repeat !important;
  color: #E1E463;
  font-weight: bold;
}

.infoColors{
  font-size: 11px;
  width: auto;
  padding: 3px;
  float: left;
  border-radius: 3px;
}

.infoColorsContainer{
  margin-bottom: 40px;
}

@-moz-keyframes resizeCertify {
    0% {
}
25% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.1)
}
50% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.2);    
}
75% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.4);
}
100% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.6);
}
}
@-webkit-keyframes resizeCertify {
    0% {
}
25% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.1)
}
50% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.2);    
}
75% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.4);
}
100% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.6);
}
}
@-o-keyframes resizeCertify {
    0% {
}
25% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.1)
}
50% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.2);    
}
75% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.4);
}
100% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.6);
}
}
@keyframes resizeCertify {
    0% {
}
25% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.1)
}
50% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.2);    
}
75% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.4);
}
100% {
    color: #666666;
    border-radius: 2px;
    background-color:rgba(12, 176, 34, 0.6);
}
}

.boxCertify {
  

    -moz-animation-name: resizeCertify;
    -moz-animation-duration: 1.2s;
    -moz-animation-iteration-count: 2;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: ease-in-out;

    -webkit-animation-name: resizeCertify;
    -webkit-animation-duration: 1.2s; 
    -webkit-animation-iteration-count: 2;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;

    -o-animation-name: resizeCertify;
    -o-animation-duration: 1.2s;
    -o-animation-iteration-count: 2;
    -o-animation-direction: alternate;
    -o-animation-timing-function: ease-in-out;

    animation-name: resizeCertify;
    animation-duration: 1.2s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
} 